<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="这里是 @AbracadabraZ翔云 的个人博客，与你一起发现世界的奇妙" />
    <meta name="keywords" content="张翔云，翔云，Abracadabra，AbracadabraZ，Abra Z，个人网站，博客，互联网" />
    <title>翔云的博客 | Abracadabra' s Blog</title>
    <link rel="stylesheet" href="../css/default.css" />
    <link rel="stylesheet" href="../css/sign.css" />
</head>

<body>
    <header class="intro-header" style="background-image:url('../img/header_bg.jpg')">
        <h1 class="blog-title">欢迎光临Abra的博客</h1>
        <div class="menu">
            <ul>
                <li><a href="./index.php">首页</a></li>
                <li><a href="./artical.php">日志</a></li>
                <li><a href="./msg.php">留言</a></li>
                <li><a href="./about.php">关于</a></li>
            </ul>
        </div>
        <div class="header-button">
            <ul>
                <li>
                  <?php
                    if(!fLogin()){
                      echo '<a href="./sign_in.php">登陆</a>';
                    }else{
                      echo "欢迎您，" .'<a href="./person.php">' . $_COOKIE['name'] . '</a>';
                    }
                  ?>
                </li>
                <li>
                  <?php
                    if(!fLogin()){
                      echo '<a href="./sign_up.php">注册</a>';
                    }else{
                      echo '<a href="./logout.php">登出</a>';
                    }
                  ?>
                </li>
            </ul>
        </div>
    </header>

    <div class="container">
        <form action="./sign_in_check.php" method="post">
            <div class="user_name">
                <span class="user_text">昵&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp称：</span>
                <input class="user_blank" id="user_name" name="user_name" type="text" />
            </div>
            <div class="user_psw">
                <span class="user_text">密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码：</span>
                <input class="user_blank" id="user_psw" name="psw" type="password" maxlength="20" />
            </div>
            <div class="small_button">
                <input class="sign_button" id="sign_in_button" name="submit" type="submit" value="登陆" />
                <div class="sign_link">
                    <a href="./sign_up.php">尚未拥有账号？前去注册~</a>
                </div>
            </div>
        </form>
    </div>

    <footer>
        <p class="copyright">
            CopyRight© Abra Blog 2016
        </p>
    </footer>
</body>

</html>
