.board {
    height: auto;
    padding-bottom: 50px;
}

.photo {
    width: 120px;
    height: auto;
    margin: 50px auto;
}

.intro {
    width: 700px;
    margin: 15px auto;
    font-size: 24px;
    font-style: italic;
    text-indent: 2em;
}
